@media screen and (max-width: 500px) {
    .navButton{
        display: none;
    }

    .topRight{
        display: none;
    }

    .hero-right{
        display: none;
    }

    .hero-left{
        max-width: 300px;
        margin: 300px auto 0px;
    }

    .mainText, .subText{
        max-width: 270px;
    }
    
    .cta{
        max-width: 300px;
    }

    .img-alt-2{
        max-width: 300px;
    }

    .contacts{
        max-width: 320px;
    }
}

@media screen and (min-width: 1100px) {
    .hero-right{
        width: 350px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .hero-right h1{
        width: 300px;
        color: white;
        text-align: center;
    }
    
    .review{
        height: 150px;
        width: 300px;
        margin: 10px auto;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .reviewImg{
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 8px;
    }
    
    .reviewText{
        height: 120px;
        width: 160px;
        padding: 10px;
        font-family: 'Alatsi';
    }
    
    span{
        color: rgb(76, 112, 61);
    }
    
    .review:hover{
        transform: scale(1.1);
        cursor: pointer;
        transition: 0.5s;
    }
    
}

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Alatsi';
    background-color: rgb(19, 16, 12);
}


nav{
    height: 50px;
    width: 95%;
    margin: 30px auto;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

.navLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.title{
    width: 200px;
    height: 40px;
    margin: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Alatsi';
}

.navButton{
    height: 40px;
    width: 100px;
    margin: 0px 5px;
    border-radius: 10px;
    border: 2px solid white;
    background: none;
    color: white;
}

.navButton:hover{
    width: 120px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.navRight{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hero{
    width: 100%;
    margin: 0px auto;
    background-image: url('images/nick-karvounis-Ciqxn7FE4vE-unsplash.jpg');
    background-attachment: local;
    background-position: center;
    background-size: cover;
}

.hero-cluster{
    width: 90%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-left{
    width: 500px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    border-radius: 10px;
}

.mainText{
    width: 400px;
    color: rgb(223, 163, 0);
    font-family: 'Archivo Black';
}

.splitter{
    height: 2px;
    width: 60%;
    margin: 20px 0px;
    border: none;
    background-color: white;
}

.subText{
    width: 400px;
    color: white;
}

.cta{
    height: 60px;
    width: 350px;
    margin: 50px 0px;
    background-color: rgb(76, 112, 61);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: white;
}

.cta:hover{
    width: 370px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.about-us{
    width: 80%;
    margin: 20px auto;
    padding-top: 100px;
    color: white;

}

.heading{
    text-align: center;
    color: rgb(76, 112, 61);
    font-family: 'Archivo Black';
}


.services{
    width: 98%;
    margin: 60px auto;
    border-radius: 20px;
    background-color: rgb(76, 112, 61);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.offer{
    width: 200px;
    padding: 60px;
    color: white;
}

.card{
    height: 400px;
    width: 300px;
    margin: 50px auto;
    border-radius: 10px;
    background-attachment: local;
    background-size: cover;
}

.cardBottom{
    height: 200px;
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 200px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.cardBottom button{
    width: 200px;
    height: 50px;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    color: white;
}

.cardBottom button:hover{
    width: 220px;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
}

.cardBottom p{
    width: 200px;
    color: white;
}

.menu{
    width: 95%;
    margin: 50px auto;
}

.menu-cluster{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.meals, .desserts, .beverages, .spare{
    height: 500px;
    width: 550px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(36, 28, 18);
}

.spare{
    background-image: url('images/spare.jpg');
    background-attachment: local;
    background-size: cover;
}

.menu-heading{
    color: white;
    text-align: center;
}

table{
    color: white;
    width: 500px;
    font-size: 1.2rem;

}

th{
    text-align: left;
}

tr{
    height: 50px;
    border-bottom: 2px solid white;
}

.item{
    width: 60%;
}

.price{
    width: 40%;
    color: rgb(76, 112, 61);
    text-align: right;
}


.reservation{
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
}

.reservation-text{
    width: 400px;
    color: white;
    text-align: center;
}

form{
    width: 600px;
    padding: 30px 0px;
}

input{
    height: 40px;
    width: 300px;
    margin: 10px auto;
    padding: 0px 20px;
    display: block;
    border-radius: 10px;
    border: 2px solid black;
}

#comments{
    height: 100px;
}

.submit{
    height: 50px;
    width: 300px;
    margin: 20px auto;
    border: none;
    background-color: rgb(76, 112, 61);
    color: white;
}
.gallery{
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.img-alt-1{
    height: 550px;
    width: 350px;
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
}

.column{
    display: flex;
    flex-direction: column;
}

.img-alt-2{
    height: 260px;
    width: 400px;
    margin: 10px auto;
    object-fit: cover;
    border-radius: 10px;
}

footer{
    width: 98%;
    margin-bottom: 20px;
    padding: 20px 0px;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials{
    font-size: 1.5rem;
    color: white;
}

.fa{
    margin: 10px;
}

.contacts{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


footer h1{
    color: rgb(76, 112, 61);
}