/*Fonts*/
@font-face {font-family: "Matchbook"; src: url("Matchbook.otf");}
@font-face {font-family: "20db"; src: url("20db.otf");}

/*Media Queries*/
@media screen and (max-width: 414px) {
    nav{
        height: 100px;
    }
    nav button{
        height: 50px;
        width: 100px;
        margin: 0px 5px;
        font-size: 2.5rem;
    }

    .hero-container{
        padding: 50px 0px;
    }
    .logo{
        margin: 10px auto;
        font-size: 3.5rem;
    }
    .hero-title{
        font-size: 4rem;
    }
    .book-cta{
        height: 70px;
        width: 200px;
        font-size: 2.5rem;
    }

    .intro{
        margin: 30px auto;
    }
    .intro-text{
        width: 90%;
        margin: 20px auto;
    }
    .intro-img{
        height: 500px;
        width: 90%;
        margin: 20px auto;
    }

    .splitter{
        margin: 20px auto;
    }

    .menu{
        margin: 30px auto;
        padding-top: 20px;
    }
    .menu-intro{
        width: 90%;
        margin: 20px auto;
    }
    .menu-intro img{
        height: 400px;
        width: 100%;
        margin: 20px auto;
    }
    .menu-tab{    
        width: 90%;
        margin: 20px;
        padding: 20px 0px;
    }

    .about{
        margin-bottom: 30px;
        padding: 50px 0px;
    }
    .about img{
        height: 400px;
        width: 90%;
        margin: 20px auto;
    }
    .about-text{
        width: 90%;
        margin: 20px auto;
    }

    .reservation{
        padding-top: 100px;
        padding-bottom: 50px;
    }
    form{
        width: 100%;
    }
    input{
        width: 80%;
        height: 50px; 
        margin: 5px auto;
    }
    #specs{
        height: 150px;
        width: 80%;
    }

    .gallery img{
        height: 300px;
        width: 90%;
    }

    footer{
        padding: 50px 0px;
        text-align: center;
    }
    .footer-main{
        width: 90%;
        margin: 10px auto;
        text-align: center;
        font-size: 2.5rem;
    }

}

@media  screen and (min-width: 414px) and (max-width: 600px) {
    nav{
        height: 100px;
    }
    nav button{
        height: 50px;
        width: 100px;
        margin: 0px 5px;
        font-size: 2.5rem;
    }

    .hero-container{
        padding: 50px 0px;
    }
    .logo{
        margin: 10px auto;
        font-size: 3.5rem;
    }
    .hero-title{
        font-size: 4rem;
    }
    .book-cta{
        height: 70px;
        width: 200px;
        font-size: 2.5rem;
    }

    .intro{
        margin: 30px auto;
    }
    .intro-text{
        width: 90%;
        margin: 20px auto;
    }
    .intro-img{
        height: 500px;
        width: 90%;
        margin: 20px auto;
    }

    .splitter{
        margin: 20px auto;
    }

    .menu{
        margin: 30px auto;
        padding-top: 20px;
    }
    .menu-intro{
        width: 90%;
        margin: 20px auto;
    }
    .menu-intro img{
        height: 400px;
        width: 100%;
        margin: 20px auto;
    }
    .menu-tab{    
        width: 90%;
        margin: 20px;
        padding: 20px 0px;
    }

    .about{
        margin-bottom: 30px;
        padding: 50px 0px;
    }
    .about img{
        height: 400px;
        width: 90%;
        margin: 20px auto;
    }
    .about-text{
        width: 90%;
        margin: 20px auto;
    }

    .reservation{
        padding-top: 100px;
        padding-bottom: 50px;
    }
    form{
        width: 100%;
    }
    input{
        width: 80%;
        height: 50px; 
        margin: 5px auto;
    }
    #specs{
        height: 150px;
        width: 80%;
    }

    .gallery img{
        height: 300px;
        width: 90%;
    }
    footer{
        padding: 50px 0px;
        text-align: center;
    }
    .footer-main{
        width: 90%;
        margin: 10px auto;
        text-align: center;
        font-size: 2.5rem;
    }

}

@media screen and (min-width: 601px) and (max-width: 1039px) {
    nav{
        height: 100px;
    }
    nav button{
        height: 50px;
        width: 150px;
        margin: 0px 5px;
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1040px) {
    nav{
        height: 100px;
    }
    nav button{
        height: 50px;
        width: 150px;
        margin: 0px 5px;
        font-size: 2.5rem;
    }

    .hero-container{
        padding: 100px 0px;
    }
    .logo{
        font-size: 6rem;
    }
    .hero-title{
        font-size: 4rem;
    }
    .book-cta{
        height: 70px;
        width: 300px;
        font-size: 2.5rem;
    }

    .intro{
        margin: 100px auto;
    }
    .intro-text{
        width: 700px;
        margin: 20px;
    }
    .intro-img{
        height: 600px;
        width: 400px;
        margin: 20px;
    }

    .splitter{
        margin: 100px auto;
    }

    .menu{
        margin: 100px auto;
        padding-top: 50px;
    }
    .menu-tab{    
        width: 600px;
        margin: 20px;
        padding: 50px 0px;
    }
    .menu-intro{
        width: 400px;
        margin: 20px;
    }
    .menu-intro img{
        height: 600px;
        width: 400px;
        margin: 50px auto;
    }

    .about{    
        margin-bottom: 50px;
        padding: 50px 0px;
    }
    .about img{
        height: 80%;
        width: 50%;
    }
    .about-text{
        width: 40%;
        margin: 0px 20px;
    }

    .reservation{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    input{
        width: 700px;
        height: 50px; 
        margin: 10px;
    }
    #specs{
        height: 150px;
        width: 700px;
    }

    .gallery img{
        height: 500px;
        width: 32%;
    }

    .footer-main{
        width: 600px;
        font-size: 3.5rem;
    }

}

body::-webkit-scrollbar{
    display: none;
}

body{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: "Matchbook";
    background-color: rgb(250, 242, 214);
}

button:hover{
    cursor: pointer;
}
input:hover{
    cursor: pointer;
}

header{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    border-bottom: 2px solid white;
}


nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav button{
    background-color: transparent;
    border: none;
    border-radius: 15px;
    color: white;
    font-family: "Matchbook";
}
nav button:hover{
    transition: .7s;
    transform: scale(0.9);
    background-color: rgb(250, 242, 214);
    color: rgb(20, 20, 20);
}

.hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('hero-img\(pexels-rachel-claire\).jpg');
    background-attachment: local;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
    
}

.hero-container{
    width: 90%;
    margin: 10px auto;
    border: 5px double white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
.logo{
    width: 70%;
    font-family: "20db";
    color: white;
    text-align: center;
}
.hero-title{
    width: 90%;
    font-family:"Matchbook";
    color: white;
    text-align: center;
}
.hero-splitter{
    height: 2px;
    width: 80%;
    margin: 40px auto;
    border: none;
    background-color: white;
}
.book-cta{
    margin: 20px auto;
    border: none;
    border-radius: 15px;
    background-color: rgb(207, 164, 70);
    color: rgb(250, 242, 214);
    font-family: "Matchbook";
}
.book-cta:hover{
    transition: 1s;
    width: 280px;
    background-color: rgb(250, 242, 214);
    color: rgb(207, 164, 70);
}

.intro{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.intro-img{
    object-fit: cover;
    border-radius: 15px;
}
.heading{
    font-family: "Matchbook";
    font-size: 4rem;
    font-weight: bolder;
    color: rgb(51, 60, 87);
}
.paragraph{
    font-size: 2.5rem;
}

.reservation{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    color: white;
}
.reservation .paragraph{
    width: 70%;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
input{
    border: none;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Matchbook";
    font-size: 2.5rem;
}
#specs{
    margin: 10px;
    border: none;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Matchbook";
    font-size: 2.5rem;
}
#submit{
    height: 80px;
    margin: 40px auto;
    background-color: rgb(207, 164, 70);
    color: rgb(250, 242, 214);
}
#submit:hover{
    transition: .7s;
    width: 680px;
    background-color: rgb(250, 242, 214);
    color: rgb(207, 164, 70);
}

.splitter{
    height: 3px;
    width: 90%;
    background-color: rgb(20, 20, 20);
    border: none;
}

.menu{
    width: 90%;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    justify-content: space-between;
}
.menu-intro img{
    object-fit: cover;
    border-radius: 15px;
}
.menu-tab{
    background-color: rgb(20, 20, 20);
    border-radius: 15px;
}
.menu-tab .heading{
    text-align: center;
    text-decoration: underline;
    color: rgb(207, 164, 70);
}
.menu-item{
    width: 70%;
    margin: 10px auto;
    text-align: center;
}
.name{
    color: rgb(207, 164, 70);
    font-size: 2.5rem;
}
.description{
    font-size: 1.5rem;
    color: white;
}

.about{
    width: 100%;
    background-color: rgb(207, 164, 70);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-around;
}

.about img{
    object-fit: cover;
    border-radius: 20px;
}

.about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-text p{
    font-size: 2rem;
}
.about .paragraph{
    color: rgb(250, 242, 214);
}

.gallery{
    width: 100%;
    text-align: center;
    margin: 50px auto;
}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.images img{
    object-fit: cover;
    margin: 5px;
    border-radius: 15px;
}

footer{
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
footer div{
    width: 200px;
}

footer h1{
    font-size: 2rem;
    color: rgb(207, 164, 70);
}
footer p{
    font-size: 1.5rem;
    color: rgb(250, 242, 214);
}
.footer-logo{
    font-family: "20db";
}
